CODE_DIR=../

DATA_DIR=./data

LOG_DIR=./logs

TZ=Asia/Taipei

ALPINE_VERSION=3.16

GO_VERSION=1.19
GO_PORT=8088
GO_PROXY=https://goproxy.cn

REDIS_VERSION=3.2.11
REDIS_HOST_PORT=6379
REDIS_CONF_FILE=./services/redis/redis.conf



